main {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: blue;
}

@media screen and (min-width: 601px) {
    main {
        padding: 20px;
        margin-left: 30px;
        font-size: 25px;
        color:red;
    }
}

@media screen and (min-width: 1024px) {
    main {
        font-size: 30px;
        color: yellow;
    }

    li::first-letter {
        font-weight: bold;
        color: rgb(230, 189, 189);
    }
    h1 {
        color: rgb(104, 71, 71);
    }
}


li {
    margin: 40px;
}