h1 {text-align: center;}

@media only screen and (min-width: 320px) {
    main {
        padding:20px;
        background-color:yellow ;
        margin:40px;
        font-size: 15px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
}
@media only screen and (min-width: 768px) {
    main {
        padding:30px;
        background-color:red ;
        margin:80px;
        color: blue;
        font-size: 30px;
        font-family: 'Times New Roman', Times, serif;
    }
}

@media only screen and (min-width: 1024px) {
    main {
        padding:40px;
        background-color:green ;
        color:red;
        font-size: 60px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
   span {color:pink}

}